@font-face {
  font-family: 'SCE-PS3-RD-R-LATIN';
  src: url('assets/fonts/SCE-PS3-RD-R-LATIN.otf') format('otf')
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'SCE-PS3-RD-R-LATIN';
  touch-action: pan-down;
  overscroll-behavior: contain;
}

body {
  color: #554e40;
  background-color: #b7b39d;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body:after {
  content: '';
  box-shadow: 0 0 200px rgb(0 0 0 / 80%) inset;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  box-shadow: 0 0 200px rgb(0 0 0 / 80%) inset;
}

main {
  position: relative;
}

canvas {
  pointer-events: auto;
  display: block;
}

#p5_loading {
  font-size: 32px;
  color: #554e40;
}